<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body >
    <header>
      <nav class="navbar navbar-light bg-light border-primary">
        <div class="container-fluid">
        <a href="/home" class="navbar-brand"><img src="img/logo_size.jpg" alt="">Job Board</a>
        <form action="search" method="post" class="navbar-form form-inline my-2 my-lg-0" id="search-form" role="search">
          <div class="d-flex">
            <input class="form-control mr-sm-2" type="search" id="filterWord" name="filterWord" placeholder="Buscar" aria-label="Search">
            <button href="/home" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
          </div>
        </form>
        <a href="/logout" class=" btn btn-outline-danger">Cerrar Sesion</a>    
        </div>
           
      </nav>
      
    </header>
    
    <!-- Agregué un div para contener el resto de la vista para darle margen en el css -->
    <div class="container-sm ">
      <div class="row" >
        <div  id="izq" class="col-xl-2">
          <div class="card  bg-light text-black border-dark ">
            <div class="card-body border-dark bg-ligth text-center">
              <span class="text-center">{{username}}</span>
            </div>
          </div>
        </div>  
        <div class="col-xl-8">
          {{{body}}}
          <div class="text-center">
          

          </div>
        </div>
        <div  class="col-xl-2 mb-n5" id="der">
          <div class="card  bg-light text-black border-dark ">
          <ul class="list-unstyled text-center">
            <li><a href="/html/aboutUs.html" class="link-dark">Acerca de</a></li>
            <li><a href="" class="link-dark">Politicas y privacidad</a></li>
            <li><a href="" class="link-dark">Publicita aquí</a></li>
          </ul>
          </div>
        </aside>
      </div>
    </div>
    <script src="/js/bootstrap.min.js" type="text/javascript" crossorigin="anonymous"></script>
  </body>
</html>