body {
  width: 95%;
  max-width: 1000px;
  font-family: monospace;
  background-color: rgb(231, 236, 232);
}
header{
  width: 90%;
}
/*h2{
  color: rgb(212, 190, 60);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}*/
p{
  color: aliceblue;
}
  img{
  width: 55px;
  height: 55px;
  box-sizing:border-box;
  margin-right: 4px;
  vertical-align: middle;
}
 .contenido, aside{
  display: inline-block;
}
aside{
  width: 15%;
  border: 1px solid rgb(17, 72, 156);
  padding: 4px;
  margin: 0px 10px;
  text-align: center;
}
#izq, .contenido{
  float: left;
}
#der, .contenido{
  float: right;
}
#der ul{
  text-decoration: none;
  list-style: none;
  text-align: left;
}
#der ul li{
  padding: 1px;
}
#der a:hover{
  text-decoration: underline;
}
.contenido{
  margin: 0% 5%;
  text-align: center;
  width: 52%;
  float: initial;
  background-color: aliceblue;
}
nav{
  vertical-align: middle;
  text-align: center;
  width: 90%;
  list-style-type: none;
  margin-bottom: 5%;
}
nav ul{
  text-decoration: none;
  color: aliceblue;
  font-size: large;
  list-style: none;
  display: inline-block;
}
nav a:hover{
  color: black;
}
nav a:focus{
  color: goldenrod;
}
nav ul li{
  height: 45px;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  border: 1px solid white;
  border-radius: 12px;
  padding: 4px;
  margin: 4px;
  background-color: black;
}
nav li:hover{
  border: 1px solid black;
}

body div{
  display: block;
}
.div-style{
  display: flex;
  margin-top: 25px;
  text-align: center;
  font-size: large;
}
.div-style input{
  position:absolute;
  border: darkblue 1px solid;
  margin-left: 200px;
  width: 150px;
  height: auto;
}
.btn-submit{
  background-color: black;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  margin-top: 40px;
  height: 45px;
  width: 7em;
  font-size: large;
}
#btn-register{
  width: 10em;
}
.btn-submit:hover{
  color: black;
  border: black 1px solid;
}
.btn-submit:focus{
  color: black;
}
.btn-logout{
  height: 35px;
  vertical-align: top;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

.btn-logout:hover{
  color: black;
  border: black 1px solid;
  background-color: #fff;
}
.btn-logout:focus{
  color: black;
}
form{
  background-color: rgb(rgb(143, 16, 16), rgb(11, 81, 138), blue) ;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 450px;
  height: 300px;
  text-align: center;
 
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#publication{
  box-sizing:border-box;

}