body {
  font-family: monospace;
  background-color: rgba(231, 236, 232, 0.747);
}

/*h2{
  color: rgb(212, 190, 60);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}*/
p{
  color: aliceblue;
}
  img{
  width: 55px;
  height: 55px;
  box-sizing:border-box;
  margin-right: 4px;
  vertical-align: middle;
}/*
#izq{
  float: left;
}*/
 /*.container, aside{
  display: inline-block;
}

#der ul{
  text-decoration: none;
  list-style: none;
  text-align: left;
}
#der ul li{
  padding: 1px;
}
#der a:hover{
  text-decoration: underline;
}
.contenido{
  margin: 0% 5%;
  text-align: center;
  width: 52%;
  float: initial;
  background-color: aliceblue;
}
*/



.row{
  display: inline-block;
}
.div-style{
  display: flex;
  margin-top: 25px;
  text-align: center;
  font-size: large;
}
.div-style input{
  position:absolute;
  border: darkblue 1px solid;
  margin-left: 200px;
  width: 150px;
  height: auto;
}
.btn-submit{
  background-color: black;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  margin-top: 40px;
  height: 45px;
  width: 7em;
  font-size: large;
}

.btn-submit:hover{
  color: black;
  border: black 1px solid;
}
.btn-submit:focus{
  color: black;
}
.btn-logout{
  background-color: #fff;
  border: 1px solid black;
  height: 35px;
  vertical-align: top;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border-radius: 6px;
  outline: none;
}

.btn-logout:hover{
  color: black;
  border: 1px solid darkblue ;
  background-color: #fff;
  
}
.btn-logout:focus{
  color: black;
}

textarea{
  border: .1px solid black;
}


#publication{
  box-sizing:border-box;

}
#showPublication {
  display: inline-block;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 350px;
  padding: 4px;
}