
    <form action="/upload/{{id}}" method="POST" enctype="multipart/form-data" class="row g-3 p-3" role="form">
      <div class="form-group d-flex justify-content-center">
        <input type="hidden" name="id" value="{{id}}" style="display: none;" />
        <input type="file" id="avatar" name="avatar" />
        <input type="submit" value="Guardar" />
      </div>
    </form>
