<!--<h2>{{tituloResultados}}:</h2> -->
<div>
  <a href="/add">Agrega una nueva publicacion</a>
</div>
<div>
  {{#each publications}}
    <div>
      <h4>{{this.author.user}}</h4>
      <span>{{this.contenido}}</span>
    </div>
    
  {{/each}}
</div>