
<div class="container">
    <form action="/newPublictn" method="post">
        <label for="texto"></label>
        <textarea type="text" id="publication" name="publication"></textarea>
        
        <button  type="submit" class="btn-submit">enviar</button>
    </form>
    
</div>