<div class="d-md-flex justify-content-md-end">
  <a href="/login" class="btn btn-primary me-md-2" >Ingresa</a>
</div>
  <div class="container-sm w-50 bg-light d-flex justify-content-center">
    <form action="/register" method="post" class="row g-3 p-3" role="form">
      <div class="form-group d-flex justify-content-center">
        <label for="user" class="col-sm-3 col-form-label">Usuario</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="user" id="input-user" placeholder="Usuario" required value="{{user}}">
        </div>               
      </div>
      <div class="form-group d-flex justify-content-center">
        <label for="password" class="col-sm-3 col-form-label">Contrase単a</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" name="pwd" id="input-password" placeholder="Contrase単a" required>
        </div>
      </div>
      <div class="form-group d-flex justify-content-center">
        <label for="passwordRepeat" class="col-sm-3 col-form-label">Repita la contrase単a</label>
        <div class="col-sm-3">
          <input type="password"  class="form-control" name="pwdRep" id="input-passwordRepeat" placeholder="Contrase単a" required>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" value="Registrarse" id="btn-register">Registrarse
      </div>
    </form>
  </div>
    